/* Sélecteurs globaux */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #000;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.397)), linear-gradient(to bottom, rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.452)), url(../img/background.jpg) no-repeat, #000;
    background-size: cover;
    background-position: center;
}

.container .bandeau {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 150px;
    background: radial-gradient(120.35% 220% at 49.86% -6.29%, #a8161d 0%, #091133 46.15%, #040c2c 100%);
}

.container .bandeau a {
    color: #448ef4;
    font-weight: bold;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* NAVBAR */

.navbar {
    padding: 20px;
    margin-bottom: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu {
    display: flex;
}

.logo {
    max-width: 15%;
}


/* Background image */

.hero .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 45px;
}


/*hero section*/


/*Buttons*/

.btn .btn-black {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #0000008a;
    border: 1px solid rgb(121, 107, 107);
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px 5px 20px;
}

.btn .btn-red {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

input {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: #0000008a;
    border: 1px solid rgb(121, 107, 107);
    border-radius: 5px;
    color: #fff;
    padding: 13px;
}

.hero-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px 70px 0px;
}

.hero-form button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
}

.bandeau img {
    height: 80px;
}



/*Utility classes*/


.text-xxl {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: bold;
    margin: 20px 0 10px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: bold;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}